<div id="footer">
  <div class="center">
      <div class="left">
          <p>STDIO Electronics được bảo hộ bởi ©STDIO </p>
          <p>2013-2018</p>
      </div>
      <div class="right">
          <p style="font-weight: bold">LIÊN KẾT</p>
          <p style="color: orange">STDIO</p>
          <p style="color: orange">STDIO Solutions</p>
          <p style="font-weight: bold">CỘNG ĐỒNG</p>
          <p style="color: orange">STDIO Electronics Fanpage</p>
          <p style="color: orange">STDIO Electronics Group</p>
      </div>
      <div style="clear: both"></div>
  </div>
</div>