<section class="wrapper-section wrapper-contact">
  <div class="center">
      <div class="connections">
          <div class="connect">
              <div class="icon">
                  <i class="material-icons md-40"></i>
              </div>
              <div class="text">
                  <h4>SỐ ĐIỆN THOẠI</h4>
                  <p>028.36205514</p>
              </div>
          </div>
          <div class="connect">
              <div class="icon">
                  <i class="material-icons md-40"></i>
              </div>
              <div class="text">
                  <h4>ĐỊA CHỈ</h4>
                  <p>A18, Trung Đông plaza, 30, Trịnh Đình Thảo, Hòa Thạnh, Tân Phú, Hồ Chí Minh</p>
              </div>
          </div>
          <div class="connect">
              <div class="icon">
                  <i class="material-icons md-40"></i>
              </div>
              <div class="text">
                  <h4>EMAIL</h4>
                  <p>developer@stdio.vn</p>
              </div>
          </div>
      </div>
      <div class="contact">
          <h4>
              <span>LIÊN HỆ</span>
          </h4>
          <form class="form ng-untouched ng-pristine ng-invalid" novalidate="" ng-reflect-form="[object Object]">
              <div class="column">
                  <input formcontrolname="name" placeholder="Tên họ" type="text" ng-reflect-name="name" class="ng-untouched ng-pristine ng-invalid">
                  <input formcontrolname="email" placeholder="Email" type="email" ng-reflect-name="email" class="ng-untouched ng-pristine ng-invalid">
                  <input formcontrolname="phone" placeholder="Điện thoại" type="text" ng-reflect-name="phone" class="ng-untouched ng-pristine ng-invalid">
              </div>
              <div class="column">
                  <textarea formcontrolname="content" placeholder="Nội dung" rows="4" ng-reflect-name="content" class="ng-untouched ng-pristine ng-invalid"></textarea>
                  <button class="button-press invert" type="submit">
                      <span>GỬI
                          <i class="material-icons md-18"></i>
                      </span>
                  </button>
              </div>
          </form>
      </div>
  </div>
</section>